.blood-availability {
    margin: 20px;
  }
  
  .blood-availability h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .blood-availability table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .blood-availability th, .blood-availability td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
  
  .blood-availability th {
    background-color: #f2f2f2;
  }
  
  .blood-availability tr:nth-child(even) {
    background-color: #f2f2f2;
  }
   .Phone Number h2 {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  

 